@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Nanum+Gothic+Coding&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(images/eleanor-brooke-kbk65DQ79Tk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 75vh;
    font-family: "Heebo", sans-serif;
    display: flex;
    flex-direction: column;
}

.main-logo {
    background-color: rgba(19, 16, 16, .75);
    color: azure;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin-left: 3em;
    width: 14.7em;
    backdrop-filter: blur(5px);
    padding: 5px;
}

img {
    display: flex;
    width: 150px;
    margin-left: 5em;
}

h2 {
    font-family: "Nanum Gothic Coding", monospace;
    margin-left: 20px;
    padding: 4px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 2em 0 40em;
    font-size: larger;
    background-color: rgba(2, 126, 12, 0.418);
    border-radius: 5px;
}

.main-form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -7.5em 0 0 45em;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 15px;
}

label {
    margin-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    box-shadow: 3px 3px 6px 1px rgba(185, 184, 184, .9);
    border-radius: 5px;
    height: 1.5em;
    font-size: 1em;
    margin-bottom: 15px;
    margin: 4.5px;
    padding: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    outline: solid 2px rgba(119, 163, 245, 0.87);
    /* box-shadow: 0px 0px 10px #3396bd; */
}

.createActBtn {
    display: flex;
    justify-content: center;
}

button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-left: 40em;
    margin-top: 1em;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    width: 200px;
}

button:hover,
button:focus {
    color: #fff;
    background-color: #68a876;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

.log-in {
    display: flex;
    justify-content: center;
    margin: .5em 0 0 40em;
}

#footer {
    bottom: 0;
    color: #fff;
    position: absolute;
    margin-left: 12.5em;
}